@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html {
  height: 100%;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #8b97c6;
  background-color: #1e202a;
}

body.light {
  color: #63687e;
  background-color: white;
}

.background {
  width: 100%;
  height: 60%;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #212331;
}

.background.light {
  background-color: #dadbe2;
}

.container {
  max-width: 85%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 2rem;
}

.switch {
  width: 45px;
  height: 25px;
  position: relative;
  display: inline-block;
}

.switch input {
  display: none;
}

.switch input:checked + .slider {
  background-image: -webkit-gradient(linear, left top, right top, from(#cdd2da), color-stop(#bdc7cc), color-stop(#b1bcbb), color-stop(#a8b0ab), to(#a1a39d));
  background-image: linear-gradient(to right, #cdd2da, #bdc7cc, #b1bcbb, #a8b0ab, #a1a39d);
}

.switch input:checked + .slider:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#bbc0c7), color-stop(#a4aeb3), color-stop(#858d8d), color-stop(#919994), to(#80817c));
  background-image: linear-gradient(to right, #bbc0c7, #a4aeb3, #858d8d, #919994, #80817c);
}

.switch input:checked + .slider::before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

.slider {
  cursor: pointer;
  border-radius: 34px;
  position: absolute;
  inset: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#378fe6), color-stop(#00a9f0), color-stop(#00bfde), color-stop(#00cfb6), to(#3eda82));
  background-image: linear-gradient(to right, #378fe6, #00a9f0, #00bfde, #00cfb6, #3eda82);
  -webkit-transition: 0.4s;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition: hover 1s ease;
  transition: hover 1s ease;
}

.slider:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#2f7dca), color-stop(#028eca), color-stop(#029fb8), color-stop(#01a18f), to(#32b66b));
  background-image: linear-gradient(to right, #2f7dca, #028eca, #029fb8, #01a18f, #32b66b);
}

.slider::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.social-media__title-row {
  display: block;
}

.social-media__title {
  width: 100%;
  padding-bottom: 0.5rem;
}

.social-media__title h1 {
  margin-bottom: 0.4rem;
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.social-media__title p {
  margin-bottom: 1rem;
  font-weight: 700;
}

.social-media__toggle-mode {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  padding-top: 1rem;
  border-top: 1px solid rgba(139, 151, 198, 0.3);
}

.social-media .success {
  color: #1db489;
}

.social-media .failure {
  color: #dc414c;
}

.social-media__overview_big {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-media__item_big {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: 28px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #252a41;
}

.social-media__item_big h2 {
  color: white;
  padding-top: 1rem;
  font-size: 48px;
  font-weight: 700;
}

.social-media__item_big h3 {
  margin: 0.5rem 0 1.5rem 4%;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.social-media__item_big .border-top {
  width: 100%;
  height: 5px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.social-media__item_big:hover {
  background-color: #63687e;
}

.social-media__item_big.light {
  background-color: #f0f2fa;
}

.social-media__item_big.light:hover {
  background-color: #aeb3cb;
}

.social-media__item_big > div:nth-child(5) > img {
  height: 100%;
  margin-right: 5px;
}

.social-media__item_big:nth-child(1) > .border-top {
  background-color: #198ff5;
}

.social-media__item_big:nth-child(2) > .border-top {
  background-color: #1ca0f2;
}

.social-media__item_big:nth-child(3) > .border-top {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#fdc468), color-stop(#ffa263), color-stop(#ff806c), color-stop(#f9607f), to(#df4996));
  background-image: linear-gradient(to right top, #fdc468, #ffa263, #ff806c, #f9607f, #df4996);
}

.social-media__item_big:nth-child(4) > .border-top {
  background-color: #c4032a;
}

.social-media__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__row #twitter {
  height: 20px;
}

.social-media__row:not(:last-child) {
  margin-bottom: 1rem;
}

.social-media__row:not(:last-child) img {
  margin-right: 10px;
}

.social-media__overview-title {
  max-width: 100%;
  margin: 0 auto;
  margin: 3rem auto 2rem auto;
  font-size: 28px;
  font-weight: 700;
}

.social-media__overview {
  width: 100%;
  overflow: hidden;
  padding-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.social-media__item {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #252a41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #252a41;
}

.social-media__item:hover {
  background-color: #63687e;
}

.social-media__item.light {
  background-color: #f0f2fa;
}

.social-media__item.light:hover {
  background-color: #aeb3cb;
}

.social-media__left {
  width: 90%;
  padding: 20px;
  text-align: left;
}

.social-media__left h3 {
  margin-bottom: 1.75rem;
  font-weight: 700;
  font-size: 18px;
}

.social-media__left p {
  font-weight: 700;
  color: white;
  font-size: 32px;
}

.social-media__right {
  width: 10%;
  padding: 20px;
  text-align: right;
}

.social-media__right img {
  margin-bottom: 2.75rem;
}

.social-media__right img[alt="up"],
.social-media__right img[alt="down"] {
  margin-bottom: 0;
}

.social-media__right > .social-media__row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

h1.title-dark,
h2.title-dark,
h3.title-dark,
p.title-dark {
  color: white;
}

h1.light,
h2.light,
h3.light,
p.light {
  color: #000;
}

.attribution {
  width: 100%;
  height: auto;
  padding: 15px 0;
  font-size: 11px;
  background-color: #212331;
  color: #8b97c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.attribution a {
  margin-left: 0.1rem;
}

.attribution.light {
  background-color: #dadbe2;
  color: #63687e;
}

@media (min-width: 750px) {
  .background {
    height: 60%;
  }
  .container {
    max-width: 70%;
  }
  .social-media__item_big {
    width: 40%;
    margin-right: 10px;
  }
  .social-media__overview {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .background {
    height: 50%;
  }
  .social-media__title-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .social-media__title {
    width: 50%;
    padding-bottom: 0;
  }
  .social-media__toggle-mode {
    width: 20%;
    padding-top: 0;
    border-top: none;
  }
  .social-media__item_big {
    width: 23%;
  }
}

@media (min-width: 1220px) {
  .background {
    height: 40%;
  }
  .social-media__title {
    max-width: 85%;
    margin: 0 auto;
  }
  .social-media__toggle-mode {
    max-width: 15%;
    margin: 0 auto;
  }
  .social-media__item_big {
    width: 20%;
  }
  .social-media__overview {
    margin: 0 auto;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */